@model DEMO_PuellaSchoolAPP.Models.LoginModel

@{
    ViewData["Title"] = "Editar";
}

<h1 style="text-align:center">Edición de Registro Estudiante</h1>

<hr />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input asp-for="LoginId" hidden class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="LoginUser" class="control-label"></label>
                    <input asp-for="LoginUser" class="form-control" />
                    <span asp-validation-for="LoginUser" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LoginPassword" class="control-label"></label>
                    <input asp-for="LoginPassword" class="form-control" />
                    <span asp-validation-for="LoginPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TeacherId" class="form-label"></label>
                    <select asp-for="TeacherId"
                            asp-items="@ViewBag.Teacher"
                            class="form-select">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="form-label"></label>
                    <select asp-for="RoleId"
                            asp-items="@ViewBag.Rol"
                            class="form-select">
                        <option value="">Seleccione</option>
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger">Regresar al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
