@model DEMO_PuellaSchoolAPP.Models.SubjectModel

@{
    ViewData["Title"] = "Create Subject";
}

<h1>Crear Asignatura</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="SubjectName" class="control-label">Nombre de la asignatura</label>
                <input asp-for="SubjectName" class="form-control" />
                <span asp-validation-for="SubjectName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectInfo" class="control-label">Descripcion</label>
                <input asp-for="SubjectInfo" class="form-control" />
                <span asp-validation-for="SubjectInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeId" class="control-label">Grado</label>
                <select asp-for="GradeId" class="form-control" asp-items="ViewBag.Grade">Seleccione</select>
                <span asp-validation-for="GradeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar al listado</a>
</div>
