@model DEMO_PuellaSchoolAPP.Models.TeacherModel

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Maestro</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         
            <div class="form-group">
                <label asp-for="TeacherName" class="control-label">Nombre del Maestro</label>
                <input asp-for="TeacherName" class="form-control" />
                <span asp-validation-for="TeacherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherLastName" class="control-label">Apellido</label>
                <input asp-for="TeacherLastName" class="form-control" />
                <span asp-validation-for="TeacherLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherAge" class="control-label">Edad</label>
                <input asp-for="TeacherAge" class="form-control" />
                <span asp-validation-for="TeacherAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherGender" class="control-label">Sexo</label>
                <select asp-for="TeacherGender" class="form-control">
                    <option>Seleccione</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
                <span asp-validation-for="TeacherGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherPhone" class="control-label">Contacto</label>
                <input asp-for="TeacherPhone" class="form-control" />
                <span asp-validation-for="TeacherPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeacherEmail" class="control-label">Correo Electronico</label>
                <input asp-for="TeacherEmail" class="form-control" />
                <span asp-validation-for="TeacherEmail" class="text-danger"></span>
            </div>
     
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Regresar al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
