@model DEMO_PuellaSchoolAPP.Models.RolModel

@{
    ViewData["Title"] = "Creacion";
}

<h1 style="text-align:center">Nuevo Registro de Roles</h1>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="RoleName" class="control-label"></label>
                    <input asp-for="RoleName" class="form-control" />
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleInfo" class="control-label"></label>
                    <input asp-for="RoleInfo" class="form-control" />
                    <span asp-validation-for="RoleInfo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-danger">Regresar al listado</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
